.chat{
    // padding: 0 10px;
    max-width: 400px;
    min-height: 500px;
    background-image: url(./../../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    &__top{
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        box-shadow: 0 2px 10px #d6d6d6;
    }

    &__name{
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 400;
    }

    &__activity{
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #3a6dfa;
        text-align: center;
    }

    &__back{
        margin: 0;
        padding: 0;
        color: #3a6dfa;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    &__image{
        width: 30px;
        height: 30px;
        color: white;
        background-color: lightgreen;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__profil{
        display: flex;
        align-items: center;
    }

    &__profil::before{
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 10px;
        background-image: url(./../../images/telephone.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }

    &__back::before{
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(./../../images/backArrow_icon.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }
    
    &__content{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        display: flex;
        position: relative;
    }

    &__content:nth-child(odd){
        background-color: white;
        margin-right: auto;
    }

    
    &__content:nth-child(even){
        margin-left: auto;
        background-color: lightgreen;
    }
    
    &__text{
        margin: 0;
        padding: 0;
        min-width: 120px;
    }

    &__content:nth-child(odd)::before{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 10px solid white;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        right: 100%;
        bottom: 0;
        transform: translateX(50%);
    }

    &__content:nth-child(even)::after{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 10px solid lightgreen;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        left: 100%;
        bottom: 0;
        transform: translateX(-50%);
    }
}